<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffmRepository set:type="Sitecore.Support.Forms.Mvc.Services.FormRepository,Sitecore.Support.190456" />

    <wffmAutoMapper set:type="Sitecore.Support.Forms.Mvc.Services.AutoMapper, Sitecore.Support.190456" />
  </sitecore>
</configuration>